/* RULES FOR ABOUT ME PAGE */
/* RULES FOR ABOUT ME PAGE */

.about-bg {
  background-color: #5D9D8D;
}

.aboutme {
  width: 80%;
  margin: 0 auto 100px auto;

  div {
    padding: 20px;
    opacity: 0;

    p {
      font-size: 1.4rem;
      color: $creame;
      text-align: left;
      line-height: 2.5rem;
    }
  }

  .pone p{
    color: #000;
  }
}

.pone, .pthree {
	position: relative;
	animation-name: slideinleft;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.ptwo, .pfour {
	position: relative;
	animation-name: slideinright;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

	@keyframes slideinleft {
		from {
			opacity: 0;
			left: -600px;
		}
		to {
			opacity: 1;
			left: 0px;
		}
	}

	@keyframes slideinright {
		from {
		opacity: 0;
		left: 600px;
	}
	to {
		opacity: 1;
		left: 0px;
	}
}

.skills-headline {
  margin-bottom: 2rem;
  font-size: 3rem;
  color: $creame;
}

.skills {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin: 0 auto 6rem auto;
}

.skills div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills img {
  width: 120px;;
}

.skills h4 {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: $creame;
}


/* ====================================== */
/* RULES FOR SMALL SCREEN - ABOUT ME PAGE */
/* RULES FOR SMALL SCREEN - ABOUT ME PAGE */

@media only screen and (max-width: 670px) {

  .aboutme {
    width: 90%;

    div {
      padding: 10px;

      p {
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }
  }

  .skills {
    width: 60%;
    display: block;
    margin: 0 auto 6rem auto;
  }

  .skills div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills h4 {
    margin: 1rem 0 3rem 0;
  }
}


/* END OF RULES FOR SMALL SCREEN - ABOUT ME PAGE */
/* END OF RULES FOR SMALL SCREEN - ABOUT ME PAGE */
/* ============================================= */




/* END OF RULES FOR ABOUT ME PAGE */
/* END OF RULES FOR ABOUT ME PAGE */
